body {
  width: 100%;
  background-image: url("../assets/main.jpg");
  background-repeat: no-repeat;
  background-size: cover;
  font-family: 'Montserrat', sans-serif;
  padding: 0px;
  margin: 0px;
}

html
{
    width: 100%;
    margin: 0px;
    padding: 0px;
    overflow-x: hidden;
}

#about {
  text-align: center;
  text-decoration:underline;
  text-decoration-style: wavy;
  text-decoration-color: #cceeff; 
}

.header{
  width: 100%;
  color: #cceeff;
  padding: 3%;
  border-bottom: 4px solid;
  border-color: #cceeff;
}

.intro{
  color: black;
  padding: 3%;
  width: 100%;
  float: left;
  background-color: rgba(255,255,255, 0.8);
  border-bottom: 3px solid;
  border-color: #cceeff;
}

div#navbartop ul {
    list-style-type: none;
    margin: 0;
    padding: 0;
    overflow: hidden;
    background-color: #333;
}

div#navbartop li {
    float: left;
}

div#navbartop li a {
    display: block;
    color: white;
    text-align: center;
    padding: 14px 16px;
    text-decoration: none;
}

div#navbartop li a:hover {
    background-color: #cceeff;
    color: black;
}
